<!-- <div class="mountains">
    <p>birthday-countdown works!</p>
</div> -->
<!-- <div>
 <div class="starts">
    <p>birthday-countdown works!</p>
</div>
<div class="moutain">
    <p>birthday-countdown works!</p>
</div>   
</div> -->

<div>
  <img class="starts" src="../../../../assets/images/bg-stars.svg" alt="" />
  <img
    class="moutain"
    src="../../../../assets/images/pattern-hills.svg"
    alt=""
  />
</div>

<div class="d-flex justify-content-around">
  <div class="square">
    <div class="above " id="animation">
      <p class="number">1</p>
    </div>
    <label class="timeText">Days</label>
  </div>
  <div>
    <div class="above">
      <p class="number">1</p>
    </div>
    <label class="timeText">Hours</label>
  </div>
  <div>
    <div class="above">
      <p class="number">1</p>
    </div>
    <label class="timeText">Minutes</label>
  </div>
  <div>
    <div class="above">
      <p class="number">1</p>
    </div>
    <label class="timeText">Seconds</label>
  </div>
</div>
