<div class="splitterDiv">
    <div class="splitterDiv2 row">
        <form class="inputDiv col-sm-6" [formGroup]="FormData" >
            <div class="billDiv" [ngClass]="{'errorBillDiv': errorMessage=='pattern'? true:false}">
                <label>Bill</label>
                <input type="text" formControlName="bill"[ngClass]="{'errorBorder': errorMessage=='pattern'? true:false}" class="form-control" (input)="billVal($event)" (change)="amountVal()" />
                    <p *ngIf="errorMessage=='pattern'" class="text-danger">Please fill in numbers only!</p>
            </div>
            <div class="billDiv"  [ngClass]="{'errorBillDiv': errorMessage2=='pattern'? true:false}">
                <label>Select Tip %</label>
                <div class="row">
                    <div class="col-4 icons">
                        <button class="btn btn-primary" (click)="tipVal(5)" (change)="amountVal()">
                            5%
                        </button>
                    </div>
                    <div class="col-4 icons">
                        <button class="btn btn-primary" (click)="tipVal(10)" (change)="amountVal()">
                            10%
                        </button>
                    </div>
                    <div class="col-4 icons">
                        <button class="btn btn-primary" (click)="tipVal(15)" (change)="amountVal()">
                            15%
                        </button>
                    </div>
                </div>
                <div class="row" [ngClass]="{'errorBillDiv': errorMessage2=='pattern'? true:false}">
                    <div class="col-4 icons">
                        <button class="btn btn-primary" (click)="tipVal(20)" (change)="amountVal()">
                            20%
                        </button>
                    </div>
                    <div class="col-4 icons">
                        <button class="btn btn-primary" (click)="tipVal(25)" (change)="amountVal()">
                            25%
                        </button>
                    </div>
                    <div class="col-4 icons">
                        <input type="text" placeholder="Custom" class="form-control" (input)="tipVal(0, $event)" formControlName="tipCustom"
                        [ngClass]="{'errorBorder': errorMessage2=='pattern'? true:false}"
                            (change)="amountVal()" />
                    </div>
                </div>
                <p *ngIf="errorMessage2=='pattern'" class="text-danger">Please fill in numbers only!</p>
            </div>
            <div class="billDiv"  [ngClass]="{'errorBillDiv': errorMessage3=='pattern'? true:false}">
                <label>Number of People</label>
                <input type="number" formControlName="people" type="text" class="form-control" (input)="peopleVal($event)" [ngClass]="{'errorBorder': errorMessage3=='pattern'? true:false}" />
                <p *ngIf="errorMessage3=='pattern'" class="text-danger">Please fill in numbers only!</p>
            </div>
        </form>

        <div class="outputDiv col-sm-6">
            <div class="d-flex justify-content-between">
                <label>Tip Amount <br />
                    <small class="personLabel">/person</small>
                </label>
                <h4 >{{ tipAmount }}</h4>
            </div>
            <br />
            <div class="d-flex justify-content-between">
                <label>Total Amount <br />
                    <small class="personLabel">/person</small>
                </label>
                <h4 >{{ totalAmount }}</h4>
             
            </div>
            <br />
            <div class="boxContainer">
                <div class="box">
                    <button class="btn btn-primary generate" (click)="reset()">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>