.github-logo {
  width: 30%;
}

.container-content {
  padding: 0px 0px;
}

.container-content .row {
  padding: 20px 0px;
}

.github-logo {
  width: 100%;
}

img {
  --s: 15px;/* size of the frame */
  --b: 1px;/* border thickness */
  --w: 200px;/* width of the image */
  --c: black;

  width: var(--w);
  aspect-ratio: 1;
  object-fit: cover;
  padding: calc(1.05 * var(--s));
  --_g: var(--c) var(--b), #0000 0 calc(100% - var(--b)), var(--c) 0;
  background: linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
    linear-gradient(90deg, var(--_g)) 50% / var(--_i, 100%) 100% no-repeat;
  transition: 0.4s;
  cursor: pointer;
}

img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: calc(var(--s) / -15);
  --_i: calc(100% - 2 * var(--s));
}

.title {
  margin-top: 10px;
  font-size: 16px;
}

.subtitle {
  font-size: 10px;
}

a {
  color: rgb(43, 9, 51);
}