<div class="container-content">
  <h2>Challenges</h2>
  <div class="header row">
    <div class="col-4 icons"><a routerLink="/form"> 
      <img class="github-logo" src="assets/images/multiStepForm.png" />
      <h5 class=" title "> Multi-step form </h5>
      <label class="col-12 subtitle"> HTML CSS ANGULAR BOOTSTRAP</label></a>
    </div>
    <div class="col-4 icons"><a routerLink="/password"> 
      <img class="github-logo" src="assets/images/passwordGenerator.png" />
       <h5 class=" title "> Password generator </h5>  
      <label class="col-12 subtitle"> HTML CSS BOOTSTRAP</label></a>
    </div>
   <div class="col-4 icons"> <a routerLink="/splitter">
      <img class="github-logo" src="assets/images/splitter.png" />
      <h5 class="title  "> Tip calculator app </h5> 
      <label class="col-12 subtitle"> HTML CSS ANGULAR BOOTSTRAP</label></a>
    </div>
  </div>
  <!-- <div class="header row">
       <div class="col-4 icons">
      <img class="github-logo" src="../assets/images/sky.png" />
      <h5 class=" title "> Advice generator </h5>
      <label class="col-12"> HTML CSS </label>
    </div>
    <div class="col-4 icons">
      <img class="github-logo" src="../assets/images/sky.png" />
      <h5 class=" title "> Quiz game </h5>
      <label class="col-12"> HTML CSS </label>
    </div>
    <div class="col-4 icons">
      <img class="github-logo" src="../assets/images/sky.png" />
      <h5 class=" title "> Interactive rating component </h5>
      <label class="col-12"> HTML CSS </label>
    </div>
  </div> -->
</div>
