.rectangle {
    height: 20px;
    width: 10px;
    background-color: #212121;
    border: 1px solid white;
    margin-right: 5px;
  }
  .passwordDiv{
    width:230px;
    margin:50px auto;
    background-color: #424242;
  }
  .passwordDiv2{
    padding:10px 20px 20px 20px
  }
  .passwordTitle{
    font-size: small;
    margin: 10px auto ;
    width:120px
  }
  .passwordTitle2{
    font-size: small;
    display: flex;
  }
  .rangeDiv{
    margin-top: 20px;
  }

  .contentText{
    font-size: small;
  }

  /* input[type="checkbox"]:checked{
    margin-right:10px;
   

        filter: sepia(100%) brightness(80%)  saturate(70%) contrast(300%) ;
    
  } */

 /* accent-color: #68fc9c ; */

  input[type="checkbox" ]{
    margin-right:5px;
    accent-color: #68fc9c ;

}

p{
    margin-bottom:0px !important
}

.levelUp{
    background-color: #24f76e;

}


/* .checkbox input:not(:checked) {
	display: none;
} */
/* input[type="checkbox" ]:not(:checked) + .uncheckedBox {
    margin-right:5px ;
    width: 13px;
	height: 13px;
	display: inline-block;
	background-color: red;
}
input[type="checkbox"]:checked + .uncheckedBox {
    display:flex !important;
	background-color: lime !important;
}

input[type="checkbox"]:checked  {
    display:flex !important;
} */
  /* input[type="checkbox"]{
    margin-right:10px;
    background-color: #000 !important;

    input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}
  } */

  .rangeDiv2 {
    margin:10px auto;
    padding:10px 0px;
    background-color: #212121;
    width:190px
  }
  .generateBtn{
    width:100%;
    border-radius: 0px;
    color:black
  }
  .labelRect{
    padding-right:5px !important
  }
  .arrow-icon{
    width:20px;
    height:20px
  }

  .generateBtn.btn-primary {
    --bs-btn-color: #000000;
    --bs-btn-bg: #68fc9c;
    --bs-btn-border-color: #68fc9c;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #24f76e;
    --bs-btn-hover-border-color: #68fc9c;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #000000;
    --bs-btn-active-bg: #68fc9c;
    --bs-btn-active-border-color: #68fc9c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000000;
    --bs-btn-disabled-bg: #68fc9c;
    --bs-btn-disabled-border-color: #68fc9c;
}

/* input[type="range"]::-webkit-slider-runnable-track {
    background-color:  #053a5f;
    height: 0.5rem;
  } */
input[type="range"]{
   width:100%;
   accent-color: #68fc9c !important;
   color: #212121;
}
/* 
input[type="range"]::-moz-range-progress  {
    background-color: #053a5f !important;
    height: 0.5rem;
  } */