<div class="passwordDiv">
    <div class="passwordDiv2">
       <h5 class="passwordTitle">Password Generator</h5>
    <input type="text"  class="form-control" [value]="result"/>
    <div class="d-flex justify-content-between rangeDiv">
        <h5 for="customRange3" class="form-label passwordTitle2 ">Character Lenght</h5>
        <h5 class="passwordTitle2 " >{{number}}</h5>

    </div>    
    <input type="range" min="4" max="20" step="1" value="4" id="customRange3" (input)="valueChanged($event)" />
    <div>
        <div>
                <input type="checkbox" (change)="statusUppercase = !statusUppercase"  name="checkbox"/>
                <!-- <span class="uncheckedBox"></span> -->
            <label class="contentText"> Include Uppercase Letters </label>
        </div>
        <div>
            <input type="checkbox" (change)="statusLowercase = !statusLowercase"  class="checkboxCustom"/>
            <!-- <span  class="uncheckedBox"></span> -->
            <label class="contentText"> Include Lowercase Letters </label>
        </div>
        <div>
            <input type="checkbox" (change)="statusNumber = !statusNumber"  class="checkboxCustom"/>
            <!-- <span  class="uncheckedBox"></span> -->
            <label class="contentText"> Include Numbers </label>
        </div>
        <div>
            <input type="checkbox"   (change)="statusSymbol = !statusSymbol"  class="checkboxCustom"/>
            <!-- <span  class="uncheckedBox"></span> -->
            <label class="contentText">  Include Symbols </label>
        </div>
    </div>
    <div class="d-flex row rangeDiv2">
        <p class="col-5">Strenght</p>
        <p class="col-3">Level</p>
        <div class="col-4 d-flex labelRect">
            <div class="rectangle" [ngClass]="{levelUp:level1}"></div>
            <div class="rectangle" [ngClass]="{levelUp:level2}"></div>
            <div class="rectangle" [ngClass]="{levelUp:level3}"></div>
            <div class="rectangle" [ngClass]="{levelUp:level4}"></div>
        </div>
    </div>  
    <button class="btn btn-primary generateBtn" (click)="generate()"> GENERATE <img class="arrow-icon"src="../assets/icons/arrow-right.svg"></button>
    </div>
   
</div>