.form-control{
    background-color:#424242;
    color:white
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #424242;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #616161;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #616161;
    --bs-btn-active-border-color: #fff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #616161;
    --bs-btn-disabled-border-color: #616161;
}
.formDiv {
    padding-bottom:20px
}

/* .formDiv2{
    padding-top:50px
} */

.size5{
    width:45% !important
}

.form{
    padding-top:20px;
    padding-bottom:20px;
}