<div class="splitterDiv">
<div class="splitterDiv2 row">
    <div class="inputDiv col-sm-6">
        <div class="billDiv">
        <label>Bill</label>
        <input type="text" class="form-control">            
        </div>
        <div class="billDiv">
            <label>Select Tip %</label>
            <div class=" row">
                <div class="col-4 icons">
                  <button class=" btn btn-primary">5%</button>
                </div>
                <div class="col-4 icons">
                    <button class="btn btn-primary">5%</button>
                </div>
                <div class="col-4 icons">
                    <button class="btn btn-primary">5%</button>
                </div>
              </div>
              <div class=" row">
                <div class="col-4 icons">
                    <button class="btn btn-primary">5%</button>
                </div>
                <div class="col-4 icons">
                    <button class="btn btn-primary">5%</button>
                </div>
                <div class="col-4 icons">
                  <input type="text" placeholder="Custom"  class="form-control">
                </div>
              </div>          
        </div>
        <div class="billDiv">
            <label>Number of People</label>
            <input type="text"  class="form-control">            
        </div>
    </div>

    <div class="outputDiv col-sm-6 ">
        <div class="d-flex justify-content-between">
            <label>Tip Amount <br> /person </label>
            <h4>450</h4>
        </div>
        <br>
        <div class="d-flex justify-content-between">
            <label>Tip Amount <br> /person </label>
            <h4>450</h4>
        </div>
        <br>
            <button class="btn btn-primary ">Generate </button>  
        
      
    </div>
</div>
</div>
