<div class="splitterDiv">
  <div class="splitterDiv2 row">
    <div class="inputDiv col-sm-6">
      <div class="billDiv">
        <label>Bill</label>
        <input
          type="text"
          class="form-control"
          (input)="billVal($event)"
          (change)="amountVal()"
        />
      </div>
      <div class="billDiv">
        <label>Select Tip %</label>
        <div class="row">
          <div class="col-4 icons">
            <button
              class="btn btn-primary"
              (click)="tipVal(5)"
              (change)="amountVal()"
            >
              5%
            </button>
          </div>
          <div class="col-4 icons">
            <button
              class="btn btn-primary"
              (click)="tipVal(10)"
              (change)="amountVal()"
            >
              10%
            </button>
          </div>
          <div class="col-4 icons">
            <button
              class="btn btn-primary"
              (click)="tipVal(15)"
              (change)="amountVal()"
            >
              15%
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-4 icons">
            <button
              class="btn btn-primary"
              (click)="tipVal(20)"
              (change)="amountVal()"
            >
              20%
            </button>
          </div>
          <div class="col-4 icons">
            <button
              class="btn btn-primary"
              (click)="tipVal(25)"
              (change)="amountVal()"
            >
              25%
            </button>
          </div>
          <div class="col-4 icons">
            <input
              type="text"
              placeholder="Custom"
              class="form-control"
              (input)="tipVal(0, $event)"
              (change)="amountVal()"
            />
          </div>
        </div>
      </div>
      <div class="billDiv">
        <label>Number of People</label>
        <input type="text" class="form-control" (input)="peopleVal($event)" />
      </div>
    </div>

    <div class="outputDiv col-sm-6">
      <div class="d-flex justify-content-between">
        <label
          >Tip Amount <br />
          <small>/person</small>
        </label>
        <h4>{{ tipAmount }}</h4>
      </div>
      <br />
      <div class="d-flex justify-content-between">
        <label
          >Total Amount <br />
          <small>/person</small>
        </label>
        <h4>{{ totalAmount }}</h4>
      </div>
      <br />
      <div class="boxContainer">
        <div class="box">
          <button class="btn btn-primary generate">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>
